*{
    margin: 0; 
    font-family: carattere; 
    font-size: 30px; 
    color: darkblue; 
    }   
    
    body {
    width: 960px; 
    margin: auto; 
    background-color: aqua;
     
    
    }
    
    Header{
    text-align: center; 
    
    }
    
    header img {
    display: block; 
    height: 90px; 
    margin: 0 auto; 
    }
    
    main{
    /* height: 70vh; */
    /*border: 3px solid purple;*/ 
    /* background-color: #000000*/
    }

    section{
    margin: 2rem 0;
    }

    #bio {
    display: flex; 
    }

    #name-date {
        display: flex; 
        justify-content: space-between; 
    }

    #bio-choose{
        width: 100%;
    }

    #choose-list{
        padding: 1rem; 
    }

    #choose-list h4 {
        margin-bottom: 1rem; 
    }

    #tech{
        display: flex;  
        justify-content: space-between;
    }


    figure{
        background-color: aqua;
        width: 10rem;
        text-align: center; 
        font-size: small; 
    }   
    
    figure img{
        height: 10rem; 
    }


    figcaption{  
        background-color: rgb(121, 246, 255, .5);
        padding: .5rem; 
        position: relative; 
        bottom: 1.5rem; 
    }

    #tech img{
    height: 200px; 
    }


    .greybox{
        background-color: rgb(111, 255, 212);
    }


    footer{
    text-align: center;
    }


    #copyright{ 
     color:purple; 
     background-color: lightblue;
    
    }